.project {
  text-align: center;
}

.container-card-project {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box {
  margin-bottom: 10px;
  .content h1 {
    font-size: 1.2rem;
  }
}
