.container {
  width: 100%;
  padding: 20px;
  display: flex;
}

.fields {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.field {
  background-color: #f0f0f0;
  padding: 20px;
  border: 1px solid #080808;
  border-radius: 4px;
  width: 100%;
}
