body {
  height: 97vh;
  margin: 0;
}

@font-face {
  font-family: "Roboto";
  src: local("GilroyRegular"),
    url("./fonts/Roboto-VariableFont_wdth,wght.ttf") format("opentype");
  font-weight: normal;
}

.default-font {
  font-family: Roboto;
}

.small {
  font-size: 12px;
}

.medium {
  font-size: 14px;
}

.large {
  font-size: 16px;
}
